{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Subscriptions",
    "description" : "You can use billing plans and subscriptions to create subscriptions that process recurring PayPal payments for physical or digital goods, or services. A plan includes pricing and billing cycle information that defines the amount and frequency of charge for a subscription. You can also define a fixed plan, such as a $5 basic plan or a volume- or graduated-based plan with pricing tiers based on the quantity purchased. For more information, see <a href=\"/docs/subscriptions/\">Subscriptions Overview</a>.",
    "contact" : { },
    "version" : "1.6"
  },
  "externalDocs" : {
    "url" : "https://developer.paypal.com/docs/api/subscriptions/v1/"
  },
  "servers" : [ {
    "url" : "https://api-m.sandbox.paypal.com/v1/billing",
    "description" : "PayPal Sandbox Environment"
  }, {
    "url" : "https://api-m.paypal.com/v1/billing",
    "description" : "PayPal Live Environment"
  } ],
  "tags" : [ {
    "name" : "plans",
    "description" : "Use the `/billing/plans` resource to create and manage plans."
  }, {
    "name" : "subscriptions",
    "description" : "Use the `/billing/subscriptions` resource to create and manage subscriptions."
  } ],
  "paths" : {
    "/plans" : {
      "get" : {
        "tags" : [ "plans" ],
        "summary" : "List plans",
        "description" : "Lists billing plans.",
        "operationId" : "plans.list",
        "parameters" : [ {
          "$ref" : "#/components/parameters/prefer"
        }, {
          "$ref" : "#/components/parameters/product_id"
        }, {
          "$ref" : "#/components/parameters/plan_ids"
        }, {
          "$ref" : "#/components/parameters/page_size"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/total_required"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that lists billing plans.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/plan_collection"
                }
              }
            }
          },
          "400" : {
            "description" : "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse400"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      },
      "post" : {
        "tags" : [ "plans" ],
        "summary" : "Create plan",
        "description" : "Creates a plan that defines pricing and billing cycle details for subscriptions.",
        "operationId" : "plans.create",
        "parameters" : [ {
          "$ref" : "#/components/parameters/prefer"
        }, {
          "$ref" : "#/components/parameters/paypal_request_id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/plan_request_POST"
              },
              "examples" : {
                "plan_request_post" : {
                  "value" : {
                    "product_id" : "PROD-XXCD1234QWER65782",
                    "name" : "Video Streaming Service Plan",
                    "description" : "Video Streaming Service basic plan",
                    "status" : "ACTIVE",
                    "billing_cycles" : [ {
                      "frequency" : {
                        "interval_unit" : "MONTH",
                        "interval_count" : 1
                      },
                      "tenure_type" : "TRIAL",
                      "sequence" : 1,
                      "total_cycles" : 2,
                      "pricing_scheme" : {
                        "fixed_price" : {
                          "value" : "3",
                          "currency_code" : "USD"
                        }
                      }
                    }, {
                      "frequency" : {
                        "interval_unit" : "MONTH",
                        "interval_count" : 1
                      },
                      "tenure_type" : "TRIAL",
                      "sequence" : 2,
                      "total_cycles" : 3,
                      "pricing_scheme" : {
                        "fixed_price" : {
                          "value" : "6",
                          "currency_code" : "USD"
                        }
                      }
                    }, {
                      "frequency" : {
                        "interval_unit" : "MONTH",
                        "interval_count" : 1
                      },
                      "tenure_type" : "REGULAR",
                      "sequence" : 3,
                      "total_cycles" : 12,
                      "pricing_scheme" : {
                        "fixed_price" : {
                          "value" : "10",
                          "currency_code" : "USD"
                        }
                      }
                    } ],
                    "payment_preferences" : {
                      "auto_bill_outstanding" : true,
                      "setup_fee" : {
                        "value" : "10",
                        "currency_code" : "USD"
                      },
                      "setup_fee_failure_action" : "CONTINUE",
                      "payment_failure_threshold" : 3
                    },
                    "taxes" : {
                      "percentage" : "10",
                      "inclusive" : false
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows billing plan details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/plan"
                },
                "examples" : {
                  "plan" : {
                    "value" : {
                      "id" : "P-5ML4271244454362WXNWU5NQ",
                      "product_id" : "PROD-XXCD1234QWER65782",
                      "name" : "Video Streaming Service Plan",
                      "description" : "Video Streaming Service basic plan",
                      "status" : "ACTIVE",
                      "billing_cycles" : [ {
                        "frequency" : {
                          "interval_unit" : "MONTH",
                          "interval_count" : 1
                        },
                        "tenure_type" : "TRIAL",
                        "sequence" : 1,
                        "total_cycles" : 2,
                        "pricing_scheme" : {
                          "fixed_price" : {
                            "value" : "3",
                            "currency_code" : "USD"
                          },
                          "version" : 1,
                          "create_time" : "2020-05-27T12:13:51Z",
                          "update_time" : "2020-05-27T12:13:51Z"
                        }
                      }, {
                        "frequency" : {
                          "interval_unit" : "MONTH",
                          "interval_count" : 1
                        },
                        "tenure_type" : "TRIAL",
                        "sequence" : 2,
                        "total_cycles" : 3,
                        "pricing_scheme" : {
                          "fixed_price" : {
                            "currency_code" : "USD",
                            "value" : "6"
                          },
                          "version" : 1,
                          "create_time" : "2020-05-27T12:13:51Z",
                          "update_time" : "2020-05-27T12:13:51Z"
                        }
                      }, {
                        "frequency" : {
                          "interval_unit" : "MONTH",
                          "interval_count" : 1
                        },
                        "tenure_type" : "REGULAR",
                        "sequence" : 3,
                        "total_cycles" : 12,
                        "pricing_scheme" : {
                          "fixed_price" : {
                            "currency_code" : "USD",
                            "value" : "10"
                          },
                          "version" : 1,
                          "create_time" : "2020-05-27T12:13:51Z",
                          "update_time" : "2020-05-27T12:13:51Z"
                        }
                      } ],
                      "payment_preferences" : {
                        "auto_bill_outstanding" : true,
                        "setup_fee" : {
                          "value" : "10",
                          "currency_code" : "USD"
                        },
                        "setup_fee_failure_action" : "CONTINUE",
                        "payment_failure_threshold" : 3
                      },
                      "taxes" : {
                        "percentage" : "10",
                        "inclusive" : false
                      },
                      "create_time" : "2020-05-27T12:13:51Z",
                      "update_time" : "2020-05-27T12:13:51Z",
                      "links" : [ {
                        "href" : "https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ",
                        "rel" : "self",
                        "method" : "GET"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ",
                        "rel" : "edit",
                        "method" : "PATCH"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ/deactivate",
                        "rel" : "deactivate",
                        "method" : "POST"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ/update-pricing-schemes",
                        "rel" : "edit",
                        "method" : "POST"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows billing plan details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/plan"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4001"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse422"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/plans/{id}" : {
      "get" : {
        "tags" : [ "plans" ],
        "summary" : "Show plan details",
        "description" : "Shows details for a plan, by ID.",
        "operationId" : "plans.get",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows plan details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/plan"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      },
      "patch" : {
        "tags" : [ "plans" ],
        "summary" : "Update plan",
        "description" : "Updates a plan with the `CREATED` or `ACTIVE` status. For an `INACTIVE` plan, you can make only status updates.<br/>You can patch these attributes and objects:<table><thead><tr><th>Attribute or object</th><th>Operations</th></tr></thead><tbody><tr><td><code>description</code></td><td>replace</td></tr><tr><td><code>payment_preferences.auto_bill_outstanding</code></td><td>replace</td></tr><tr><td><code>taxes.percentage</code></td><td>replace</td></tr><tr><td><code>payment_preferences.payment_failure_threshold</code></td><td>replace</td></tr><tr><td><code>payment_preferences.setup_fee</code></td><td>replace</td></tr><tr><td><code>payment_preferences.setup_fee_failure_action</code></td><td>replace</td></tr><tr><td><code>name</code></td><td>replace</td></tr></tbody></table>",
        "operationId" : "plans.patch",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/patch_request"
        },
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4002"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4221"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/plans/{id}/activate" : {
      "post" : {
        "tags" : [ "plans" ],
        "summary" : "Activate plan",
        "description" : "Activates a plan, by ID.",
        "operationId" : "plans.activate",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4222"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/plans/{id}/deactivate" : {
      "post" : {
        "tags" : [ "plans" ],
        "summary" : "Deactivate plan",
        "description" : "Deactivates a plan, by ID.",
        "operationId" : "plans.deactivate",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4223"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/plans/{id}/update-pricing-schemes" : {
      "post" : {
        "tags" : [ "plans" ],
        "summary" : "Update pricing",
        "description" : "Updates pricing for a plan. For example, you can update a regular billing cycle from $5 per month to $7 per month.",
        "operationId" : "plans.update-pricing-schemes",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/update_pricing_schemes_list_request"
              },
              "examples" : {
                "update_pricing_schemes_list_request" : {
                  "value" : {
                    "pricing_schemes" : [ {
                      "billing_cycle_sequence" : 1,
                      "pricing_scheme" : {
                        "fixed_price" : {
                          "value" : "50",
                          "currency_code" : "USD"
                        }
                      }
                    }, {
                      "billing_cycle_sequence" : 2,
                      "pricing_scheme" : {
                        "fixed_price" : {
                          "value" : "100",
                          "currency_code" : "USD"
                        },
                        "pricing_model" : "VOLUME",
                        "tiers" : [ {
                          "starting_quantity" : "1",
                          "ending_quantity" : "1000",
                          "amount" : {
                            "value" : "150",
                            "currency_code" : "USD"
                          }
                        }, {
                          "starting_quantity" : "1001",
                          "amount" : {
                            "value" : "250",
                            "currency_code" : "USD"
                          }
                        } ]
                      }
                    } ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4003"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4224"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/subscriptions" : {
      "post" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Create subscription",
        "description" : "Creates a subscription.",
        "operationId" : "subscriptions.create",
        "parameters" : [ {
          "$ref" : "#/components/parameters/prefer"
        }, {
          "$ref" : "#/components/parameters/paypal_request_id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/subscription_request_post"
              },
              "examples" : {
                "subscription_request_post" : {
                  "value" : {
                    "plan_id" : "P-5ML4271244454362WXNWU5NQ",
                    "start_time" : "2018-11-01T00:00:00Z",
                    "quantity" : "20",
                    "shipping_amount" : {
                      "currency_code" : "USD",
                      "value" : "10.00"
                    },
                    "subscriber" : {
                      "name" : {
                        "given_name" : "John",
                        "surname" : "Doe"
                      },
                      "email_address" : "customer@example.com",
                      "shipping_address" : {
                        "name" : {
                          "full_name" : "John Doe"
                        },
                        "address" : {
                          "address_line_1" : "2211 N First Street",
                          "address_line_2" : "Building 17",
                          "admin_area_2" : "San Jose",
                          "admin_area_1" : "CA",
                          "postal_code" : "95131",
                          "country_code" : "US"
                        }
                      }
                    },
                    "application_context" : {
                      "brand_name" : "walmart",
                      "locale" : "en-US",
                      "shipping_preference" : "SET_PROVIDED_ADDRESS",
                      "user_action" : "SUBSCRIBE_NOW",
                      "payment_method" : {
                        "payer_selected" : "PAYPAL",
                        "payee_preferred" : "IMMEDIATE_PAYMENT_REQUIRED"
                      },
                      "return_url" : "https://example.com/returnUrl",
                      "cancel_url" : "https://example.com/cancelUrl"
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/subscription"
                },
                "examples" : {
                  "subscription" : {
                    "value" : {
                      "id" : "I-BW452GLLEP1G",
                      "status" : "APPROVAL_PENDING",
                      "status_update_time" : "2018-12-10T21:20:49Z",
                      "plan_id" : "P-5ML4271244454362WXNWU5NQ",
                      "plan_overridden" : false,
                      "start_time" : "2018-11-01T00:00:00Z",
                      "quantity" : "20",
                      "shipping_amount" : {
                        "currency_code" : "USD",
                        "value" : "10.00"
                      },
                      "subscriber" : {
                        "name" : {
                          "given_name" : "John",
                          "surname" : "Doe"
                        },
                        "email_address" : "customer@example.com",
                        "payer_id" : "2J6QB8YJQSJRJ",
                        "shipping_address" : {
                          "name" : {
                            "full_name" : "John Doe"
                          },
                          "address" : {
                            "address_line_1" : "2211 N First Street",
                            "address_line_2" : "Building 17",
                            "admin_area_2" : "San Jose",
                            "admin_area_1" : "CA",
                            "postal_code" : "95131",
                            "country_code" : "US"
                          }
                        }
                      },
                      "create_time" : "2018-12-10T21:20:49Z",
                      "links" : [ {
                        "href" : "https://www.paypal.com/webapps/billing/subscriptions?ba_token=BA-2M539689T3856352J",
                        "rel" : "approve",
                        "method" : "GET"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                        "rel" : "edit",
                        "method" : "PATCH"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                        "rel" : "self",
                        "method" : "GET"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows subscription details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/subscription"
                },
                "examples" : {
                  "subscription" : {
                    "value" : {
                      "id" : "I-BW452GLLEP1G",
                      "status" : "APPROVAL_PENDING",
                      "status_update_time" : "2018-12-10T21:20:49Z",
                      "plan_id" : "P-5ML4271244454362WXNWU5NQ",
                      "plan_overridden" : false,
                      "start_time" : "2018-11-01T00:00:00Z",
                      "quantity" : "20",
                      "shipping_amount" : {
                        "currency_code" : "USD",
                        "value" : "10.00"
                      },
                      "subscriber" : {
                        "name" : {
                          "given_name" : "John",
                          "surname" : "Doe"
                        },
                        "email_address" : "customer@example.com",
                        "payer_id" : "2J6QB8YJQSJRJ",
                        "shipping_address" : {
                          "name" : {
                            "full_name" : "John Doe"
                          },
                          "address" : {
                            "address_line_1" : "2211 N First Street",
                            "address_line_2" : "Building 17",
                            "admin_area_2" : "San Jose",
                            "admin_area_1" : "CA",
                            "postal_code" : "95131",
                            "country_code" : "US"
                          }
                        }
                      },
                      "create_time" : "2018-12-10T21:20:49Z",
                      "links" : [ {
                        "href" : "https://www.paypal.com/webapps/billing/subscriptions?ba_token=BA-2M539689T3856352J",
                        "rel" : "approve",
                        "method" : "GET"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                        "rel" : "edit",
                        "method" : "PATCH"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                        "rel" : "self",
                        "method" : "GET"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4004"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4225"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/subscriptions/{id}" : {
      "get" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Show subscription details",
        "description" : "Shows details for a subscription, by ID.",
        "operationId" : "subscriptions.get",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        }, {
          "$ref" : "#/components/parameters/fields"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/subscription"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      },
      "patch" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Update subscription",
        "description" : "Updates a subscription which could be in <code>ACTIVE</code> or <code>SUSPENDED</code> status. You can override plan level default attributes by providing customised values for plan path in the patch request.<br /> <ul> <li>You cannot update attributes that have already completed (Example - trial cycles can’t be updated if completed).</li> <li>Once overridden, changes to plan resource will not impact subscription.</li> <li>Any price update will not impact billing cycles within next 10 days (Applicable only for subscriptions funded by PayPal account).</li> </ul> Following are the fields eligible for patch.<table><thead><tr><th>Attribute or object</th><th>Operations</th></tr></thead><tbody><tr><td><code>billing_info.outstanding_balance</code></td><td>replace</td></tr><tr><td><code>custom_id</code></td><td>add,replace</td></tr><tr><td><code>plan.billing_cycles[@sequence==n].<br/>pricing_scheme.fixed_price</code></td><td>add,replace</td></tr><tr><td><code>plan.billing_cycles[@sequence==n].<br/>pricing_scheme.tiers</code></td><td>replace</td></tr><tr><td><code>plan.billing_cycles[@sequence==n].<br/>total_cycles</code></td><td>replace</td></tr><tr><td><code>plan.payment_preferences.<br/>auto_bill_outstanding</code></td><td>replace</td></tr><tr><td><code>plan.payment_preferences.<br/>payment_failure_threshold</code></td><td>replace</td></tr><tr><td><code>plan.taxes.inclusive</code></td><td>add,replace</td></tr><tr><td><code>plan.taxes.percentage</code></td><td>add,replace</td></tr><tr><td><code>shipping_amount</code></td><td>add,replace</td></tr><tr><td><code>start_time</code></td><td>replace</td></tr><tr><td><code>subscriber.shipping_address</code></td><td>add,replace</td></tr><tr><td><code>subscriber.payment_source (for subscriptions funded<br/>by card payments)</code></td><td>replace</td></tr></tbody></table>",
        "operationId" : "subscriptions.patch",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/patch_request"
        },
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4005"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4226"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/subscriptions/{id}/revise" : {
      "post" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Revise plan or quantity of subscription",
        "description" : "Updates the quantity of the product or service in a subscription. You can also use this method to switch the plan and update the `shipping_amount`, `shipping_address` values for the subscription. This type of update requires the buyer's consent.",
        "operationId" : "subscriptions.revise",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/subscription_revise_request"
              },
              "examples" : {
                "subscription_revise_request" : {
                  "value" : {
                    "plan_id" : "P-5ML4271244454362WXNWU5NQ",
                    "shipping_amount" : {
                      "currency_code" : "USD",
                      "value" : "10.00"
                    },
                    "shipping_address" : {
                      "name" : {
                        "full_name" : "John Doe"
                      },
                      "address" : {
                        "address_line_1" : "2211 N First Street",
                        "address_line_2" : "Building 17",
                        "admin_area_2" : "San Jose",
                        "admin_area_1" : "CA",
                        "postal_code" : "95131",
                        "country_code" : "US"
                      }
                    },
                    "application_context" : {
                      "brand_name" : "walmart",
                      "locale" : "en-US",
                      "shipping_preference" : "SET_PROVIDED_ADDRESS",
                      "payment_method" : {
                        "payer_selected" : "PAYPAL",
                        "payee_preferred" : "IMMEDIATE_PAYMENT_REQUIRED"
                      },
                      "return_url" : "https://example.com/returnUrl",
                      "cancel_url" : "https://example.com/cancelUrl"
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/subscription_revise_response"
                },
                "examples" : {
                  "subscription_revise_response" : {
                    "value" : {
                      "plan_id" : "P-5ML4271244454362WXNWU5NQ",
                      "plan_overridden" : false,
                      "shipping_amount" : {
                        "currency_code" : "USD",
                        "value" : "10.00"
                      },
                      "shipping_address" : {
                        "name" : {
                          "full_name" : "John Doe"
                        },
                        "address" : {
                          "address_line_1" : "2211 N First Street",
                          "address_line_2" : "Building 17",
                          "admin_area_2" : "San Jose",
                          "admin_area_1" : "CA",
                          "postal_code" : "95131",
                          "country_code" : "US"
                        }
                      },
                      "links" : [ {
                        "href" : "https://www.paypal.com/webapps/billing/subscriptions/update?ba_token=BA-2M539689T3856352J",
                        "rel" : "approve",
                        "method" : "GET"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                        "rel" : "edit",
                        "method" : "PATCH"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G",
                        "rel" : "self",
                        "method" : "GET"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G/cancel",
                        "rel" : "cancel",
                        "method" : "POST"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G/suspend",
                        "rel" : "suspend",
                        "method" : "POST"
                      }, {
                        "href" : "https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G/capture",
                        "rel" : "capture",
                        "method" : "POST"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4006"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4041"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4227"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/subscriptions/{id}/suspend" : {
      "post" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Suspend subscription",
        "description" : "Suspends the subscription.",
        "operationId" : "subscriptions.suspend",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/subscription_suspend_request"
              },
              "examples" : {
                "subscription_suspend_request" : {
                  "value" : {
                    "reason" : "Item out of stock"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4007"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4228"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/subscriptions/{id}/cancel" : {
      "post" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Cancel subscription",
        "description" : "Cancels the subscription.",
        "operationId" : "subscriptions.cancel",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/subscription_cancel_request"
              },
              "examples" : {
                "subscription_cancel_request" : {
                  "value" : {
                    "reason" : "Not satisfied with the service"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4008"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4229"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/subscriptions/{id}/activate" : {
      "post" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Activate subscription",
        "description" : "Activates the subscription.",
        "operationId" : "subscriptions.activate",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/subscription_activate_request"
              },
              "examples" : {
                "subscription_activate_request" : {
                  "value" : {
                    "reason" : "Reactivating the subscription"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "A successful request returns the HTTP `204 No Content` status code with no JSON response body."
          },
          "400" : {
            "description" : "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse4009"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse42210"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/subscriptions/{id}/capture" : {
      "post" : {
        "tags" : [ "subscriptions" ],
        "summary" : "Capture authorized payment on subscription",
        "description" : "Captures an authorized payment from the subscriber on the subscription.",
        "operationId" : "subscriptions.capture",
        "parameters" : [ {
          "$ref" : "#/components/parameters/paypal_request_id"
        }, {
          "$ref" : "#/components/parameters/id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/subscription_capture_request"
              },
              "examples" : {
                "subscription_capture_request" : {
                  "value" : {
                    "note" : "Charging as the balance reached the limit",
                    "capture_type" : "OUTSTANDING_BALANCE",
                    "amount" : {
                      "currency_code" : "USD",
                      "value" : "100"
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/transaction"
                }
              }
            }
          },
          "202" : {
            "description" : "Request Accepted."
          },
          "400" : {
            "description" : "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse40010"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse42211"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    },
    "/subscriptions/{id}/transactions" : {
      "get" : {
        "tags" : [ "subscriptions" ],
        "summary" : "List transactions for subscription",
        "description" : "Lists transactions for a subscription.",
        "operationId" : "subscriptions.transactions",
        "parameters" : [ {
          "$ref" : "#/components/parameters/id"
        }, {
          "$ref" : "#/components/parameters/start_time"
        }, {
          "$ref" : "#/components/parameters/end_time"
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/transactions_list"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse40011"
                }
              }
            }
          },
          "401" : {
            "description" : "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse401"
                }
              }
            }
          },
          "403" : {
            "description" : "Authorization failed due to insufficient permissions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse403"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource does not exist.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "An internal server error has occurred.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_500"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/default"
          }
        },
        "security" : [ {
          "Oauth2" : [ "https://uri.paypal.com/services/subscriptions" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Subscriptionssuspend422Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/USERACCOUNTCLOSED7"
        }, {
          "$ref" : "#/components/schemas/SUBSCRIPTIONSTATUSINVALID1"
        } ]
      },
      "error_link_description" : {
        "title" : "Link Description",
        "required" : [ "href", "rel" ],
        "type" : "object",
        "properties" : {
          "href" : {
            "maxLength" : 20000,
            "minLength" : 0,
            "pattern" : "^.*$",
            "type" : "string",
            "description" : "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call."
          },
          "rel" : {
            "maxLength" : 100,
            "minLength" : 0,
            "pattern" : "^.*$",
            "type" : "string",
            "description" : "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml)."
          },
          "method" : {
            "maxLength" : 6,
            "minLength" : 3,
            "pattern" : "^[A-Z]*$",
            "type" : "string",
            "description" : "The HTTP method required to make the related call.",
            "enum" : [ "GET", "POST", "PUT", "DELETE", "PATCH" ]
          }
        },
        "description" : "The request-related [HATEOAS link](/api/rest/responses/#hateoas-links) information."
      },
      "subscriptions.create-400" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Subscriptionscreate400Details"
            }
          }
        }
      },
      "card_response_with_billing_address" : {
        "title" : "Card Response with billing address and name",
        "type" : "object",
        "description" : "The payment card used to fund the payment. Card can be a credit or debit card.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/card_response"
        }, {
          "$ref" : "#/components/schemas/CardResponseWithBillingAddressAllOf2"
        } ]
      },
      "card_response" : {
        "title" : "Card Response",
        "type" : "object",
        "properties" : {
          "last_digits" : {
            "pattern" : "[0-9]{2,}",
            "type" : "string",
            "description" : "The last digits of the payment card.",
            "readOnly" : true
          },
          "brand" : {
            "$ref" : "#/components/schemas/card_brand"
          },
          "type" : {
            "type" : "string",
            "description" : "The payment card type.",
            "readOnly" : true,
            "enum" : [ "CREDIT", "DEBIT", "PREPAID", "UNKNOWN" ]
          },
          "authentication_result" : {
            "$ref" : "#/components/schemas/authentication_response"
          }
        },
        "description" : "The payment card to use to fund a payment. Card can be a credit or debit card."
      },
      "patch" : {
        "title" : "Patch",
        "required" : [ "op" ],
        "type" : "object",
        "properties" : {
          "op" : {
            "type" : "string",
            "description" : "The operation.",
            "enum" : [ "add", "remove", "replace", "move", "copy", "test" ]
          },
          "path" : {
            "type" : "string",
            "description" : "The <a href=\"https://tools.ietf.org/html/rfc6901\">JSON Pointer</a> to the target document location at which to complete the operation."
          },
          "value" : {
            "title" : "Patch Value",
            "description" : "The value to apply. The <code>remove</code> operation does not require a value."
          },
          "from" : {
            "type" : "string",
            "description" : "The <a href=\"https://tools.ietf.org/html/rfc6901\">JSON Pointer</a> to the target document location from which to move the value. Required for the <code>move</code> operation."
          }
        },
        "description" : "The JSON patch object to apply partial updates to resources."
      },
      "Planscreate400Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERVALUE1"
        }, {
          "$ref" : "#/components/schemas/MISSINGREQUIREDPARAMETER"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMINLENGTH"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH"
        }, {
          "$ref" : "#/components/schemas/INVALIDINTEGERMINVALUE"
        }, {
          "$ref" : "#/components/schemas/INVALIDINTEGERMAXVALUE"
        } ]
      },
      "Subscriptionspatch400Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/UNSUPPORTEDPATCHOPERATION1"
        }, {
          "$ref" : "#/components/schemas/INVALIDPATCHPATH2"
        }, {
          "$ref" : "#/components/schemas/INVALIDPATCHPATH3"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX3"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERVALUE7"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMAXLENGTH3"
        }, {
          "$ref" : "#/components/schemas/INVALIDSTRINGMINLENGTH1"
        }, {
          "$ref" : "#/components/schemas/INVALIDINTEGERMINVALUE2"
        }, {
          "$ref" : "#/components/schemas/INVALIDINTEGERMAXVALUE2"
        }, {
          "$ref" : "#/components/schemas/MISSINGREQUESTBODY1"
        }, {
          "$ref" : "#/components/schemas/MISSINGREQUIREDPARAMETER3"
        } ]
      },
      "Subscriptionstransactions400Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX5"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERVALUE10"
        }, {
          "$ref" : "#/components/schemas/MISSINGREQUIREDPARAMETER6"
        } ]
      },
      "SubscriberAllOf2" : {
        "properties" : {
          "shipping_address" : {
            "$ref" : "#/components/schemas/shipping_detail"
          },
          "payment_source" : {
            "$ref" : "#/components/schemas/payment_source_response"
          }
        }
      },
      "pricing_scheme" : {
        "title" : "Pricing Scheme",
        "type" : "object",
        "properties" : {
          "version" : {
            "maximum" : 999,
            "minimum" : 0,
            "type" : "integer",
            "description" : "The version of the pricing scheme.",
            "readOnly" : true
          },
          "fixed_price" : {
            "$ref" : "#/components/schemas/money"
          },
          "pricing_model" : {
            "maxLength" : 24,
            "minLength" : 1,
            "pattern" : "^[A-Z_]+$",
            "type" : "string",
            "description" : "The pricing model for tiered plan. The `tiers` parameter is required.",
            "enum" : [ "VOLUME", "TIERED" ]
          },
          "tiers" : {
            "maxItems" : 32,
            "minItems" : 1,
            "type" : "array",
            "description" : "An array of pricing tiers which are used for billing volume/tiered plans. pricing_model field has to be specified.",
            "items" : {
              "$ref" : "#/components/schemas/pricing_tier"
            }
          },
          "create_time" : {
            "$ref" : "#/components/schemas/date_time"
          },
          "update_time" : {
            "$ref" : "#/components/schemas/date_time"
          }
        },
        "description" : "The pricing scheme details."
      },
      "SubscriptionAllOf2" : {
        "properties" : {
          "id" : {
            "maxLength" : 50,
            "minLength" : 3,
            "type" : "string",
            "description" : "The PayPal-generated ID for the subscription.",
            "readOnly" : true
          },
          "plan_id" : {
            "maxLength" : 50,
            "minLength" : 3,
            "type" : "string",
            "description" : "The ID of the plan."
          },
          "start_time" : {
            "$ref" : "#/components/schemas/date_time"
          },
          "quantity" : {
            "maxLength" : 32,
            "minLength" : 1,
            "pattern" : "^([0-9]+|([0-9]+)?[.][0-9]+)$",
            "type" : "string",
            "description" : "The quantity of the product in the subscription."
          },
          "shipping_amount" : {
            "$ref" : "#/components/schemas/money"
          },
          "subscriber" : {
            "$ref" : "#/components/schemas/subscriber"
          },
          "billing_info" : {
            "$ref" : "#/components/schemas/subscription_billing_info"
          },
          "create_time" : {
            "$ref" : "#/components/schemas/date_time"
          },
          "update_time" : {
            "$ref" : "#/components/schemas/date_time"
          },
          "custom_id" : {
            "maxLength" : 127,
            "minLength" : 1,
            "pattern" : "^[\\x20-\\x7E]+",
            "type" : "string",
            "description" : "The custom id for the subscription. Can be invoice id."
          },
          "plan_overridden" : {
            "type" : "boolean",
            "description" : "Indicates whether the subscription has overridden any plan attributes.",
            "readOnly" : true
          },
          "plan" : {
            "$ref" : "#/components/schemas/plan"
          },
          "links" : {
            "type" : "array",
            "description" : "An array of request-related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links).",
            "readOnly" : true,
            "items" : {
              "$ref" : "#/components/schemas/link_description"
            }
          }
        }
      },
      "plan_request_POST" : {
        "title" : "Create Plan Request",
        "required" : [ "billing_cycles", "name", "payment_preferences", "product_id" ],
        "type" : "object",
        "properties" : {
          "product_id" : {
            "maxLength" : 50,
            "minLength" : 6,
            "type" : "string",
            "description" : "The ID of the product created through Catalog Products API."
          },
          "name" : {
            "maxLength" : 127,
            "minLength" : 1,
            "type" : "string",
            "description" : "The plan name."
          },
          "status" : {
            "maxLength" : 24,
            "minLength" : 1,
            "pattern" : "^[A-Z_]+$",
            "type" : "string",
            "description" : "The initial state of the plan. Allowed input values are CREATED and ACTIVE.",
            "default" : "ACTIVE",
            "enum" : [ "CREATED", "INACTIVE", "ACTIVE" ]
          },
          "description" : {
            "maxLength" : 127,
            "minLength" : 1,
            "type" : "string",
            "description" : "The detailed description of the plan."
          },
          "billing_cycles" : {
            "maxItems" : 12,
            "minItems" : 1,
            "type" : "array",
            "description" : "An array of billing cycles for trial billing and regular billing. A plan can have at most two trial cycles and only one regular cycle.",
            "items" : {
              "$ref" : "#/components/schemas/billing_cycle"
            }
          },
          "payment_preferences" : {
            "$ref" : "#/components/schemas/payment_preferences"
          },
          "taxes" : {
            "$ref" : "#/components/schemas/taxes"
          },
          "quantity_supported" : {
            "type" : "boolean",
            "description" : "Indicates whether you can subscribe to this plan by providing a quantity for the goods or service.",
            "default" : false
          }
        },
        "description" : "The create plan request details."
      },
      "INVALIDQUANTITYSUPPORTED" : {
        "title" : "INVALID_QUANTITY_SUPPORTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_QUANTITY_SUPPORTED" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Quantity is always supported for volume and tiered plans." ]
          }
        }
      },
      "phone_type" : {
        "title" : "Phone Type",
        "type" : "string",
        "description" : "The phone type.",
        "enum" : [ "FAX", "HOME", "MOBILE", "OTHER", "PAGER" ]
      },
      "payee_payment_method_preference" : {
        "maxLength" : 255,
        "minLength" : 1,
        "pattern" : "^[0-9A-Z_]+$",
        "type" : "string",
        "description" : "The merchant-preferred payment methods.",
        "default" : "UNRESTRICTED",
        "enum" : [ "UNRESTRICTED", "IMMEDIATE_PAYMENT_REQUIRED" ]
      },
      "plans.update-pricing-schemes-422" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PlansupdatePricingSchemes422Details"
            }
          }
        }
      },
      "InlineResponse42211" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/error_422"
        }, {
          "$ref" : "#/components/schemas/subscriptions.capture-422"
        } ]
      },
      "last_payment_details" : {
        "title" : "Last Payment Details",
        "required" : [ "amount", "time" ],
        "type" : "object",
        "description" : "The details for the last payment.",
        "allOf" : [ {
          "$ref" : "#/components/schemas/LastPaymentDetailsAllOf1"
        } ]
      },
      "InlineResponse42210" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/error_422"
        }, {
          "$ref" : "#/components/schemas/subscriptions.activate-422"
        } ]
      },
      "shipping_detail" : {
        "title" : "Shipping Details",
        "type" : "object",
        "properties" : {
          "name" : {
            "$ref" : "#/components/schemas/name"
          },
          "type" : {
            "maxLength" : 255,
            "minLength" : 1,
            "pattern" : "^[0-9A-Z_]+$",
            "type" : "string",
            "description" : "The method by which the payer wants to get their items from the payee e.g shipping, in-person pickup. Either type or options but not both may be present.",
            "enum" : [ "SHIPPING", "PICKUP_IN_PERSON" ]
          },
          "address" : {
            "$ref" : "#/components/schemas/address_portable"
          }
        },
        "description" : "The shipping details."
      },
      "taxes_override" : {
        "title" : "Taxes Override",
        "type" : "object",
        "properties" : {
          "percentage" : {
            "$ref" : "#/components/schemas/percentage"
          },
          "inclusive" : {
            "type" : "boolean",
            "description" : "Indicates whether the tax was already included in the billing amount."
          }
        },
        "description" : "The tax details."
      },
      "INVALIDRESOURCEID1" : {
        "title" : "INVALID_RESOURCE_ID",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_RESOURCE_ID" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Requested resource ID was not found." ]
          }
        }
      },
      "subscriptions.suspend-400" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Subscriptionssuspend400Details"
            }
          }
        }
      },
      "Subscriptionscreate422Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/USERACCOUNTCLOSED4"
        }, {
          "$ref" : "#/components/schemas/PLANSTATUSINVALID2"
        }, {
          "$ref" : "#/components/schemas/SUBSCRIPTIONCANNOTHAVEQUANTITY"
        }, {
          "$ref" : "#/components/schemas/CARDSUBSCRIPTIONSNOTENABLED"
        }, {
          "$ref" : "#/components/schemas/3DSCARDSNOTSUPPORTED"
        }, {
          "$ref" : "#/components/schemas/INVALIDBILLINGCYCLESEQUENCE3"
        }, {
          "$ref" : "#/components/schemas/INVALIDPRICINGSCHEME1"
        }, {
          "$ref" : "#/components/schemas/INVALIDPRICINGTIERAMOUNT2"
        }, {
          "$ref" : "#/components/schemas/MISSINGPRICINGSCHEMETIERS2"
        }, {
          "$ref" : "#/components/schemas/OVERLAPPINGPRICINGSCHEMETIERS2"
        }, {
          "$ref" : "#/components/schemas/INVALIDPRICINGMODEL2"
        }, {
          "$ref" : "#/components/schemas/FIXEDPRICENOTSUPPORTED2"
        }, {
          "$ref" : "#/components/schemas/INVALIDPRICINGTIERQUANTITY2"
        }, {
          "$ref" : "#/components/schemas/CURRENCYMISMATCH2"
        } ]
      },
      "subscriptions.revise-422" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Subscriptionsrevise422Details"
            }
          }
        }
      },
      "subscriptions.capture-400" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Subscriptionscapture400Details"
            }
          }
        }
      },
      "CURRENCYNOTSUPPORTEDFORRECEIVER" : {
        "title" : "CURRENCY_NOT_SUPPORTED_FOR_RECEIVER",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CURRENCY_NOT_SUPPORTED_FOR_RECEIVER" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "This currency cannot be accepted for this recipient’s account." ]
          }
        }
      },
      "INVALIDBILLINGCYCLESEQUENCE1" : {
        "title" : "INVALID_BILLING_CYCLE_SEQUENCE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_BILLING_CYCLE_SEQUENCE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Trial Billing cycle should precede regular billing cycle." ]
          }
        }
      },
      "CARDSUBSCRIPTIONSNOTENABLED1" : {
        "title" : "CARD_SUBSCRIPTIONS_NOT_ENABLED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "CARD_SUBSCRIPTIONS_NOT_ENABLED" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "The account is not setup to be able to process subscriptions funded by card payments. Please contact PayPal customer support." ]
          }
        }
      },
      "INVALIDBILLINGCYCLESEQUENCE2" : {
        "title" : "INVALID_BILLING_CYCLE_SEQUENCE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_BILLING_CYCLE_SEQUENCE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "The provided billing cycle sequence is not available." ]
          }
        }
      },
      "PlansupdatePricingSchemes422Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/CURRENCYMISMATCH1"
        }, {
          "$ref" : "#/components/schemas/INVALIDBILLINGCYCLESEQUENCE2"
        }, {
          "$ref" : "#/components/schemas/INVALIDPRICINGSCHEME"
        }, {
          "$ref" : "#/components/schemas/INVALIDPRICINGTIERAMOUNT1"
        }, {
          "$ref" : "#/components/schemas/MISSINGPRICINGSCHEMETIERS1"
        }, {
          "$ref" : "#/components/schemas/OVERLAPPINGPRICINGSCHEMETIERS1"
        }, {
          "$ref" : "#/components/schemas/INVALIDPRICINGMODEL1"
        }, {
          "$ref" : "#/components/schemas/FIXEDPRICENOTSUPPORTED1"
        }, {
          "$ref" : "#/components/schemas/INVALIDPRICINGTIERQUANTITY1"
        }, {
          "$ref" : "#/components/schemas/PRICINGSCHEMEUPDATENOTALLOWED"
        } ]
      },
      "InlineResponse401" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/error_401"
        }, {
          "$ref" : "#/components/schemas/401"
        } ]
      },
      "InlineResponse400" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/error_400"
        }, {
          "$ref" : "#/components/schemas/400"
        } ]
      },
      "subscriptions.cancel-422" : {
        "properties" : {
          "details" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Subscriptionscancel422Details"
            }
          }
        }
      },
      "InlineResponse403" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/error_403"
        }, {
          "$ref" : "#/components/schemas/403"
        } ]
      },
      "INVALIDACCOUNTSTATUS" : {
        "title" : "INVALID_ACCOUNT_STATUS",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_ACCOUNT_STATUS" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Account validations failed for the user." ]
          }
        }
      },
      "Subscriptionsrevise404Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDRESOURCEID1"
        } ]
      },
      "InlineResponse404" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/error_404"
        }, {
          "$ref" : "#/components/schemas/404"
        } ]
      },
      "failed_payment_details" : {
        "title" : "Failed Payment Details",
        "required" : [ "amount", "time" ],
        "type" : "object",
        "properties" : {
          "amount" : {
            "$ref" : "#/components/schemas/money"
          },
          "time" : {
            "$ref" : "#/components/schemas/date_time"
          },
          "reason_code" : {
            "maxLength" : 120,
            "minLength" : 1,
            "pattern" : "^[A-Z_]+$",
            "type" : "string",
            "description" : "The reason code for the payment failure.",
            "readOnly" : true,
            "enum" : [ "PAYMENT_DENIED", "INTERNAL_SERVER_ERROR", "PAYEE_ACCOUNT_RESTRICTED", "PAYER_ACCOUNT_RESTRICTED", "PAYER_CANNOT_PAY", "SENDING_LIMIT_EXCEEDED", "TRANSACTION_RECEIVING_LIMIT_EXCEEDED", "CURRENCY_MISMATCH" ]
          },
          "next_payment_retry_time" : {
            "$ref" : "#/components/schemas/date_time"
          }
        },
        "description" : "The details for the failed payment of the subscription."
      },
      "date_no_time" : {
        "maxLength" : 10,
        "minLength" : 10,
        "pattern" : "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$",
        "type" : "string",
        "description" : "The stand-alone date, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). To represent special legal values, such as a date of birth, you should use dates with no associated time or time-zone data. Whenever possible, use the standard `date_time` type. This regular expression does not validate all dates. For example, February 31 is valid and nothing is known about leap years.",
        "format" : "ppaas_date_notime_v2"
      },
      "payment_preferences_override" : {
        "title" : "Payment Preferences Override",
        "type" : "object",
        "properties" : {
          "auto_bill_outstanding" : {
            "type" : "boolean",
            "description" : "Indicates whether to automatically bill the outstanding amount in the next billing cycle."
          },
          "setup_fee" : {
            "$ref" : "#/components/schemas/money"
          },
          "setup_fee_failure_action" : {
            "maxLength" : 24,
            "minLength" : 1,
            "pattern" : "^[A-Z_]+$",
            "type" : "string",
            "description" : "The action to take on the subscription if the initial payment for the setup fails.",
            "enum" : [ "CONTINUE", "CANCEL" ]
          },
          "payment_failure_threshold" : {
            "maximum" : 999,
            "minimum" : 0,
            "type" : "integer",
            "description" : "The maximum number of payment failures before a subscription is suspended. For example, if `payment_failure_threshold` is `2`, the subscription automatically updates to the `SUSPEND` state if two consecutive payments fail."
          }
        },
        "description" : "The payment preferences to override at subscription level."
      },
      "Subscriptionsrevise400Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDPARAMETERSYNTAX4"
        }, {
          "$ref" : "#/components/schemas/INVALIDPARAMETERVALUE8"
        }, {
          "$ref" : "#/components/schemas/INVALIDINTEGERMINVALUE3"
        }, {
          "$ref" : "#/components/schemas/INVALIDINTEGERMAXVALUE3"
        }, {
          "$ref" : "#/components/schemas/MISSINGREQUESTBODY2"
        }, {
          "$ref" : "#/components/schemas/MISSINGREQUIREDPARAMETER4"
        } ]
      },
      "liability_shift" : {
        "maxLength" : 255,
        "minLength" : 1,
        "pattern" : "^[0-9A-Z_]+$",
        "type" : "string",
        "description" : "Liability shift indicator. The outcome of the issuer's authentication.",
        "enum" : [ "YES", "NO", "POSSIBLE", "UNKNOWN" ]
      },
      "INVALIDBILLINGCYCLESEQUENCE3" : {
        "title" : "INVALID_BILLING_CYCLE_SEQUENCE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_BILLING_CYCLE_SEQUENCE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "The provided billing cycle sequence is not available." ]
          }
        }
      },
      "INVALIDBILLINGCYCLESEQUENCE4" : {
        "title" : "INVALID_BILLING_CYCLE_SEQUENCE",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_BILLING_CYCLE_SEQUENCE" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "The provided billing cycle sequence is not available." ]
          }
        }
      },
      "email" : {
        "maxLength" : 254,
        "pattern" : "(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)\\])",
        "type" : "string",
        "description" : "The internationalized email address.<blockquote><strong>Note:</strong> Up to 64 characters are allowed before and 255 characters are allowed after the <code>@</code> sign. However, the generally accepted maximum length for an email address is 254 characters. The pattern verifies that an unquoted <code>@</code> sign exists.</blockquote>",
        "format" : "merchant_common_email_address_v2"
      },
      "enrolled" : {
        "maxLength" : 255,
        "minLength" : 1,
        "pattern" : "^[0-9A-Z_]+$",
        "type" : "string",
        "description" : "Status of Authentication eligibility.",
        "enum" : [ "Y", "N", "U", "B" ]
      },
      "MULTIPLEFREETRIALBILLINGCYCLESNOTSUPPORTED" : {
        "title" : "MULTIPLE_FREE_TRIAL_BILLING_CYCLES_NOT_SUPPORTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "MULTIPLE_FREE_TRIAL_BILLING_CYCLES_NOT_SUPPORTED" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Only one free trial billing cycle is allowed." ]
          }
        }
      },
      "404Details" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/INVALIDRESOURCEID"
        } ]
      },
      "INVALIDPRICINGTIERAMOUNT1" : {
        "title" : "INVALID_PRICING_TIER_AMOUNT",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "INVALID_PRICING_TIER_AMOUNT" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Free tiers are not supported." ]
          }
        }
      },
      "SUBSCRIBERACCOUNTRESTRICTED" : {
        "title" : "SUBSCRIBER_ACCOUNT_RESTRICTED",
        "properties" : {
          "issue" : {
            "type" : "string",
            "enum" : [ "SUBSCRIBER_ACCOUNT_RESTRICTED" ]
          },
          "description" : {
            "type" : "string",
            "enum" : [ "Subscriber Account Restricted." ]
          }
        }
      },
      "AddressDetails" : {
        "title" : "Address Details",
        "type" : "object",
        "properties" : {
          "street_number" : {
            "maxLength" : 100,
            "type" : "string",
            "description" : "The street number."
          },
          "street_name" : {
[...]
